html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}
body,
section,
h1 {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#accueil {
  background-color: aquamarine;
}
#inscription {
  background-color: rgb(238, 234, 16);
}
#galerie {
  background-color: rgb(236, 119, 41);
}
#tableau {
  background-color: rgb(74, 96, 225);
}
#video {
  background-color: rgb(195, 127, 255);
}
#pied-page {
  background-color: rgb(27, 176, 214);
}
